:root {
  font-size: 1em;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;

  background-color: #14131a;
}

.container {
  margin: auto;
  max-width: 71.25em;
}

.header {
  margin-bottom: 5em;
  padding-top: 2.5em;
  display: flex;
  align-items: center;
}

.logo__link {
  margin-right: 3.125em;
  display: inline-block;
}

.nav__menu {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.nav__menu--item {
  margin-right: 1.875em;
}

.nav__menu--link {
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
}

.movie__date {
  margin-bottom: 1.583em;
  display: block;

  font-size: 1.5rem;
  line-height: 1.17;
  color: rgba(255, 255, 255, .8);
}

.movie__description {
  margin-top: 2.5em;
  max-width: 26.44em;

  font-size: 1rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, .8);
}

.button__group {
  margin-top: 4.375em;
}

.button {
  padding: .938em 1.875em;

  border: none;
  border-radius: .312em;
  cursor: pointer;
}

.button__icon,
.button__text {
  display: inline-block;
  vertical-align: middle;
}

.button__text {
  margin-left: .715em;

  font-size: .875rem;
  line-height: 1.14;
}

.button__link {
  color: #fff;
}

.venom {
  position: absolute;
  top: 0;
  right: 0;
}

.blood {
  background: url('../images/blood.png') no-repeat top right,
    url('../images/background.jpg') no-repeat 0 0 / cover;
}

.primary-bg {
  background: url('../images/background.jpg') no-repeat 0 0 / cover;
}

/* ==================== about page ==================== */

.content {
  display: flex;
}

.col {
  flex-basis: 50%;
}

.content__title {
  margin-bottom: .625em;

  font-size: 2rem;
  font-weight: bold;
  line-height: 1.313;
  color: rgba(255, 255, 255, .8);
}

.content__subtitle {
  margin-top: 0;
  margin-bottom: .94em;
  line-height: 1.4;
  color: rgba(255, 255, 255, .8);
}

.content__text {
  margin-bottom: 1.875em;
  max-width: 26.44rem;

  line-height: 1.4;
  color: rgba(255, 255, 255, .8);
}

.content .list {
  padding: 0;

  list-style-type: none;
}

.list__item {
  line-height: 1.5;
}

.list .column-2 {
  max-width: 21.875rem;

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.content .trailer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.813em;
  width: 22.813em;

  background: url('../images/trailer-cover.jpg') no-repeat center / contain;
  border-radius: .32em;
}

.trailer .play {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.813em;
  width: 2.813em;

  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.poster__wrapper {
  display: flex;
  align-items: start;
}

.poster {
  margin-right: 1.875rem;
  width: 22.625rem;

  border-radius: .32rem;
}

.poster__wrapper .content__subtitle {
  margin-bottom: .31rem;
}

.poster__wrapper .list {
  margin: 0 0 1.25rem 0;
}

/* ==================== End of about page ==================== */



/* ==================== fonts ==================== */
@font-face {
  font-family: "Roboto";
  src: url(/fonts/RobotoRegular.woff) format(woff);
  src: url(/fonts/RobotoRegular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/RobotoBold.woff) format(woff);
  src: url(/fonts/RobotoBold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}