:root {
  font-size: 1em;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;

  background-color: #14131a;
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  /* max-width: 71.25em; */
  width: 90%;
}

.venom {
  max-width: 45.5em;
  width: 40%;

  position: absolute;
  top: 0;
  right: 0;
}

.header {
  margin-bottom: 5em;
  padding-top: 2.5em;
  display: flex;
  align-items: center;
}

.logo__link {
  margin-right: 3.125em;
  display: inline-block;
}

.nav__menu {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.nav__menu--item {
  margin-right: 1.875em;
}

.nav__menu--link {
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
}

.movie__date {
  margin-bottom: 2%;
  display: block;

  font-size: 1.5rem;
  line-height: 1.17;
  color: rgba(255, 255, 255, .8);
}

.movie__logo {
  width: 70%;
}

.movie__description {
  margin-top: 3%;
  max-width: 26.44em;

  font-size: 1rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, .8);
}

.button__group {
  margin-top: 5%;
}

.button {
  padding: .938em 1.875em;

  text-decoration: none;

  border: none;
  border-radius: .312em;
  cursor: pointer;
}

.button__icon,
.button__text {
  display: inline-block;
  vertical-align: middle;
}

.button__text {
  margin-left: .715em;

  font-size: .875rem;
  line-height: 1.14;
}

.button__primary {
  color: #8d0019;

  background-color: #fff;
}

.button__link {
  color: #fff;
}

.blood {
  background: url('../images/blood.png') no-repeat top right 40%,
    url('../images/background.jpg') no-repeat 0 0 / cover;
}

.primary-bg {
  background: url('../images/background.jpg') no-repeat 0 0 / cover;
}

/* ==================== about page ==================== */

.content {
  display: flex;
}

.col {
  flex-basis: 50%;
}

.content__title {
  margin-bottom: .625em;

  font-size: 2rem;
  font-weight: bold;
  line-height: 1.313;
  color: rgba(255, 255, 255, .8);
}

.content__subtitle {
  margin-top: 0;
  margin-bottom: .94em;
  line-height: 1.4;
  color: rgba(255, 255, 255, .8);
}

.content__text {
  margin-bottom: 1.875em;
  max-width: 26.44rem;

  line-height: 1.4;
  color: rgba(255, 255, 255, .8);
}

.content .list {
  padding: 0;

  list-style-type: none;
}

.list__item {
  line-height: 1.5;
}

.list .column-2 {
  max-width: 21.875rem;

  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.content .trailer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.813em;
  width: 22.813em;

  background: url('../images/trailer-cover.jpg') no-repeat center / contain;
  border-radius: .32em;
}

.trailer .play {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.813em;
  width: 2.813em;

  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.poster__wrapper {
  display: flex;
  align-items: start;
}

.poster {
  margin-right: 1.875rem;
  width: 22.625rem;

  border-radius: .32rem;
}

.poster__wrapper .content__subtitle {
  margin-bottom: .31rem;
}

.poster__wrapper .list {
  margin: 0 0 1.25rem 0;
}

/* ==================== End of about page ==================== */



/* ==================== actors page ==================== */

.actors__page--header {
  margin-bottom: 1.5em;
}

.actors__subtitles {
  display: flex;
}

.actors__subtitle--first {
  margin-bottom: 0;
  flex-basis: 50%;
}

.actors__subtitle--second,
.actors__subtitle--third {
  margin-bottom: .3rem;
  flex-basis: 25%;
}

.actors {
  display: flex;
  width: 90vw;
}

.actors__list {
  flex-basis: 25%;
}

.actor__about {
  margin-bottom: 10px;
  display: flex;
}

.actor__foto {
  flex-basis: content;

  border: 2px solid #fff;
  box-shadow: inset 0 7px 20px rgb(0 0 0 / 25%);
  border-radius: 50%;

  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.actor__foto:hover,
.actor__foto:focus {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.actor__info {
  margin: auto 0;
  padding-left: 20px;
  flex-basis: 75%;

  font-size: 1.25rem;
  pointer-events: none;
}

.actor__name {
  margin: 0;
}

/* ==================== End of actors page ==================== */

.menu__button {
  display: none;
}

.menu__close {
  display: none;
}



/* ================= The widget-consultant ================= */
.hide-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: -100vh;
  right: 60px;
  width: 320px;
  max-height: 100vh;
  overflow-y: auto;
  -webkit-transition: bottom 0.5s linear;
  -o-transition: bottom 0.5s linear;
  transition: bottom 0.5s linear;
}

.hide-form-active {
  bottom: 0 !important;
}

.hide-form a {
  color: inherit;
  font-style: italic;
}

.order-trigger {
  width: 150px;
  height: 30px;
  display: block;
  margin-left: auto;
  background-color: #B30303;
  color: #EFE8F4;
  cursor: pointer;
  padding: 0 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  white-space: nowrap;
}

.order-trigger:hover {
  background-color: #4081AF;
}

.order-ticket {
  background-color: #14131a;
  padding: 30px;

}

.order-ticket__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;

}

.order-ticket__description {
  margin-bottom: 15px;
}

.order-ticket__label {
  position: relative;
  padding-top: 10px;
  margin-bottom: 15px;
}

.order-ticket__label-text {
  position: absolute;
  padding: 0 5px;
  left: 10px;
  top: 15px;
  background-color: #14131a;
  transition: top 0.2s linear, border-color 0.5s linear;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.order-ticket__input {
  display: block;
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 1px solid #EFE8F4;
  color: #EFE8F4;
}


.order-ticket__label-focus .order-ticket__label-text,
.order-ticket__input:focus+.order-ticket__label-text,
.order-ticket__input:active+.order-ticket__label-text {
  top: 0;
  border-color: #4081AF
}

.order-ticket__label-focus .order-ticket__input,
.order-ticket__input:active,
.order-ticket__input:focus {
  border-color: #4081AF;
  outline: none;
}

.order-ticket__preloader-wrapper {
  display: none;
}

.order-ticket__thanks-wrapper {
  display: none;
}

/* ============= End of the widget-consultant ============= */



/* ==================== @media ==================== */

@media (max-width: 1024px) {

  .content {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .col {
    margin-bottom: 5%;
  }

  .header {
    margin-bottom: 4%;
  }

  .movie {
    margin-top: 20%;
  }
}

@media (max-width: 768px) {

  .blood {
    background: #14131a;
  }

  .venom {
    top: 10%;
  }
}

@media (max-width: 576px) {

  .venom {
    top: 20%;
    width: 30%;
  }

  .nav {
    margin-left: auto;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;

    transform: translateX(100%);
    transition: transform .2s linear;
  }

  .nav__menu--item {
    margin: 2% 0;
  }

  .nav__menu--link {

    color: #14131a;
  }

  .menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .625rem;

    color: #fff;

    background-color: #14131a;
    border: none;
    cursor: pointer;
  }

  .menu__button--text {
    margin-right: 0.625rem;
  }

  .menu__close {
    display: flex;
    align-items: center;

    background-color: #fff;
    border: none;
    cursor: pointer;

    position: fixed;
    top: 65px;
    right: 25px;
    z-index: 3;

    opacity: 0;
    transform: translateX(150%);
    transition: transform .2s linear;
    transition-delay: .4s;
  }

  .is-active {
    transform: translateX(0);
    opacity: 1;
  }

  .button__group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .movie__description {
    text-align: center;
  }

  .poster__wrapper {
    flex-direction: column;
  }

  .poster {
    margin-bottom: 4%;
  }

  .content .trailer {
    max-width: 21.875rem;
    width: 100%;
  }

  .poster {
    margin-right: 0;
    max-width: 21.875rem;
    width: 100%;
  }

  .column-2 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

/* ==================== End of @media ==================== */



/* ==================== fonts ==================== */
@font-face {
  font-family: "Roboto";
  src: url(/fonts/RobotoRegular.woff) format(woff);
  src: url(/fonts/RobotoRegular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/RobotoBold.woff) format(woff);
  src: url(/fonts/RobotoBold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}